.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
ring-sample-20pct.csv
supabase/migrations/20230125181627_remote_commit.sql
supabase/seed.sql
user-data-dir
.netlify
*.MOV
.snaplet/
snaplet*
.snaplet/snapshots
.snaplet/snaplet.d.ts
test-results/
playwright-report/
gcloud.json
supabase/config.toml
*dump.sql
.idea/
**.xlsx

# Sentry Config File
.env.sentry-build-plugin
